@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid #d84315; /* Orange border */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Adjust padding as needed */
  background-image: url('\LibraryPortals.png'); /* Add your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-button {
  background-color: #d84315; /* Deep, moody orange */
  color: white;
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #bf360c; /* Slightly darker orange on hover and focus */
  outline: none;
  box-shadow: 0 0 0 3px rgba(216, 67, 21, 0.5); /* Custom focus style adjusted for new color */
}

.menu-hidden {
  display: none; /* Completely hides the menu */
}

canvas { 
  display: block; 
  position: fixed;
  top: 0;
  left: 0;
}
